.contHead{
    margin-top: 10em;
}
header{
    background: #46ce5e;
    min-height: 700px;
}
.navbar{

    background: transparent !important;
    color: black !important;
}

#headingFour{
    background: #46ce5e !important; 
}